@if(isLoading){
    <app-loader/>
}@else {
    <div class="list-container">
        <div class="list-nav-menu">
            @if(isSearching){
                <form class="search-form" #form="ngForm" (ngSubmit)="searchCases(form)">
                    <input 
                    type="text" 
                    name="search" 
                    id="search"
                    ngModel
                    placeholder="Search"
                    #inputSearch>
                    <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            }@else {
                <button class="search-btn" (click)="toggleSearchMode()"><i class="fa-solid fa-magnifying-glass"></i></button>
            }
            <div class="categories">
                @for (category of categories; track $index) {
                    <button (click)="scrollToCategory(category.name.toLowerCase())">{{category.name}}</button>
                }
            </div>
        </div>
        @if(weaponCases.length>0){
            <div id="weapon-cases" class="cases-container">       
                <h4><i class="fa-solid fa-gun"></i> Weapon Cases</h4>  
                <div class="section-cases">
                    @for (case of weaponCases; track $index) {
                        <a class="case" [routerLink]="['/case', case.id]">
                            <img src={{case.imageUrl}}/>
                            <h5>{{case.name | slice: 20}}</h5>
                            <div class="price-container">
                                <h3>{{case.price}}</h3>
                                <p>$</p>
                            </div>
                        </a>
                    }
                </div> 
            </div>
        }
        @if(operationCases.length>0){
            <div id="operation-cases" class="cases-container">
                <h4><i class="fa-solid fa-jet-fighter-up"></i> Operation Cases</h4>
                <div class="section-cases">
                    @for (case of operationCases; track $index) {
                        <a class="case" [routerLink]="['/case', case.id]">
                            <img src={{case.imageUrl}}/>
                            <h5>{{case.name | slice: 20}}</h5>
                            <div class="price-container">
                                <h3>{{case.price}}</h3>
                                <p>$</p>
                            </div>
                        </a>
                    }
                </div> 
            </div>
        }@if(rareCases.length>0){
            <div id="rare-cases" class="cases-container">
                <h4><i class="fa-regular fa-gem"></i> Rare Cases</h4>
                <div class="section-cases">
                    @for (case of rareCases; track $index) {
                        <a class="case" [routerLink]="['/case', case.id]">
                            <img src={{case.imageUrl}}/>
                            <h5>{{case.name | slice: 20}}</h5>
                            <div class="price-container">
                                <h3>{{case.price}}</h3>
                                <p>$</p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
        @if(stickerCases.length>0){
            <div id="sticker-cases" class="cases-container">
                <h4><i class="fa-regular fa-note-sticky"></i> Sticker Capsules</h4>
                <div class="section-cases">
                    @for (case of stickerCases; track $index) {
                        <a class="case" [routerLink]="['/case', case.id]">
                            <img src={{case.imageUrl}}/>
                            <h5>{{case.name | slice: 20}}</h5>
                            <div class="price-container">
                                <h3>{{case.price}}</h3>
                                <p>$</p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
        @if(graffitiCases.length>0){
            <div id="graffiti-cases" class="cases-container">
                <h4><i class="fa-solid fa-spray-can"></i> Graffiti Boxes</h4>
                <div class="section-cases">
                    @for (case of graffitiCases; track $index) {
                        <a class="case" [routerLink]="['/case', case.id]">
                            <img src={{case.imageUrl}}/>
                            <h5>{{case.name | slice: 20}}</h5>
                            <div class="price-container">
                                <h3>{{case.price}}</h3>
                                <p>$</p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
        @if(noResults){
            <div class="no-result-container">
                <h4>No results!</h4>
                <button (click)="backToHome()">Back to Home</button>
            </div>
        }
    </div>
}