*{
    margin: 0;
    padding: 0;    
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background: #2B2E4A;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a , label, input, button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}