.header-container{
    background: #161726;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 2em;
}

.header-container a{
    color: #dedede;    
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-container img{
    width: 70px;
}

.nav-container a{
    text-decoration: none;
}

.nav-container a i{
    color: #9e9e9e;
    margin-right: 0.3em;
}

.nav-container a:hover i{
    color: #E84545;
}

.nav-container a:hover .daily{
    color: #fcd600;
}

.header-container .login{
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 0.3em;
    border: 2px solid #903749;
    background: #E84545;
    text-transform: uppercase;
}

.header-container .login:hover{
    background: #903749;
    border-color: #E84545;
}