<div class="header-container">
    <a routerLink="/home" (click)="toggleMenu(false)"><img class="home-img" src="logo.png"></a>  
    @if(isLoggedIn){
        <div class="logged-in-btns">
            <div class="user-balance-container">
                <h4>{{balance.toFixed(2)}} $</h4>
            </div>
            <button class="bars" (click)="toggleMenu(true)"><i class="fa-solid fa-bars"></i></button>        
        </div>
    }@else {
        <a routerLink="/login" class="login">Sign in</a>
    }
</div>
<div class="floating-menu" [class.open]="menuOpen">
    <div class="floating-toggle">
        <button (click)="toggleMenu(false)"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <ul>
        <li>
            <a routerLink="/inventory" (click)="toggleMenu(false)">Inventory</a>
        </li>
        <li>
            <a routerLink="/mycases" (click)="toggleMenu(false)">My Cases</a>
        </li>
        <li>
            <a routerLink="/history" (click)="toggleMenu(false)">History</a>
        </li>
        <li>
            <a routerLink="/settings" (click)="toggleMenu(false)">Settings</a>
        </li>
        <li>
            <button (click)="logout()">Sign out</button>
        </li>
    </ul>
</div>
