<div class="footer-container">
    <div class="company-container">
        <img src="logo.png">
        <p>EPICCASE.COM © 2025 All rights reserved</p>
    </div>
    <div class="media-container">
        <h4>Follow us:</h4>
        <ul>
            <li>
                <a href="/"><i class="fa-brands fa-facebook-f facebook"></i></a>
            </li>
            <li>
                <a href="/"><i class="fa-brands fa-instagram instagram"></i></a>
            </li>
            <li>
                <a href="/"><i class="fa-brands fa-youtube youtube"></i></a>
            </li>
            <li>
                <a href="/"><i class="fa-brands fa-discord discord"></i></a>
            </li>
            <li>
                <a href="/"><i class="fa-brands fa-tiktok tiktok"></i></a>
            </li>
            <li>
                <a href="/"><i class="fa-brands fa-telegram telegram"></i></a>
            </li>
        </ul>
    </div>
</div>